@{
    ViewData["Title"] = "Home Page";
}
@model Zorras

<div class="text-center">
    <h1 style="color: red;" class="display-4"><font face="nunito,arial,verdana">ZORRAS</font></h1>
    <a href="https://docs.microsoft.com/aspnet/core"></a>
    <p>Aqui te muestro la imagen de una Zorrita</p>
    <br>
    <img src="@Model.image">
   
</div>


    


