@{
    ViewData["Title"] = "Home Page";
}
@model Pato

<div class="text-center">
    <h1 style="color: red;" class="display-4"><font face="nunito,arial,verdana">PATOS</font></h1>
    <a href="https://docs.microsoft.com/aspnet/core"></a>
    <p>Aqui te muestro la imagen de un Patito</p>
    <br>
    <img src="@Model.url">
</div>
